{{ $platform := ternary "macos" "linux" (eq .chezmoi.os "darwin") -}}
{{- $arch := ternary "arm64" "x86_64" (eq .chezmoi.arch "arm64") -}}
.local/neovim:
  type: archive
  exact: true
  stripComponents: 1
  url: {{ printf "https://github.com/neovim/neovim/releases/download/nightly/nvim-%s-%s.tar.gz" $platform $arch | quote }}
  executable: false
  refreshPeriod: 12h

{{- $mambaArch := "" -}}
{{- if eq .chezmoi.os "darwin" -}}
{{-   $mambaArch = (eq .chezmoi.arch "arm64") | ternary "osx-arm64" "osx-64" -}}
{{- else -}}
{{-   $mambaArch = (eq .chezmoi.arch "arm64") | ternary "linux-aarch64" "linux-64" -}}
{{- end }}
.local/bin/micromamba:
  type: archive-file
  url: "https://micro.mamba.pm/api/micromamba/{{ $mambaArch }}/latest"
  format: tar.bz2
  path: bin/micromamba
  executable: true
  refreshPeriod: 720h

{{- if .work }}
.vim:
  type: git-repo
  url: {{ "https://github.com/rdnajac/.vim.git" | quote }}
  refreshPeriod: 0s
{{- end }}

{{- range .tpope }}
.local/share/nvim/site/pack/tpope/start/{{ base . }}:
  type: git-repo
  url: {{ printf "https://github.com/%s.git" . | quote }}
  refreshPeriod: 168h
{{- end }}

{{- /*
{{- $vimdir := ".local/share/vimfect" }}
{{ range .start -}}
  {{- template "plug" (dict "repo" . "vimdir" $vimdir) -}}
{{ end }}

{{ range .opt -}}
  {{- template "opt" (dict "repo" . "vimdir" $vimdir) -}}
{{ end }}
*/ -}}
