{{ $platform := ternary "macos" "linux" (eq .chezmoi.os "darwin") -}}
{{- $arch := ternary "arm64" "x86_64" (eq .chezmoi.arch "arm64") -}}
.local/neovim:
  type: archive
  exact: true
  stripComponents: 1
  url: {{ printf "https://github.com/neovim/neovim/releases/download/nightly/nvim-%s-%s.tar.gz" $platform $arch | quote }}
  executable: false
  refreshPeriod: 12h

{{- if .work }}
.vim:
  type: git-repo
  url: {{ "https://github.com/rdnajac/.vim.git" | quote }}
  refreshPeriod: 0s
{{- end }}

{{- /*
{{- $vimdir := ".local/share/vimfect" }}
{{ range .start -}}
  {{- template "plug" (dict "repo" . "vimdir" $vimdir) -}}
{{ end }}

{{ range .opt -}}
  {{- template "opt" (dict "repo" . "vimdir" $vimdir) -}}
{{ end }}
*/ -}}
